<h2 style="text-align: center"> Sistemas Operativos</h2>
<div class="row">
  <div class="col-sm-6">
    <p>Nombre</p>
  </div>
  <div class="col-sm-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value={{nombre}}>

      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-6">
    <p>Version API</p>
  </div>
  <div class="col-sm-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value={{versionApi}}>
      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-6">
    <p>Fecha de Lanzamiento</p>
  </div>
  <div class="col-sm-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value={{fechalanzamiento}}>
      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-6">
    <p>Peso en GB</p>
  </div>
  <div class="col-sm-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value={{pesoGB}}>
      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-6">
    <p>Instalado</p>
  </div>
  <div class="col-sm-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="" value={{instalado}}>
      </mat-form-field>
    </form>
  </div>

</div>

<div class="row">
  <div class="col-sm-6">

    <div class="button-row">
      <button (click)="crearSistemasOperativos(textoInput.value)" mat-button>Crear</button>

    </div>
  </div>
  <div class="col-sm-6">

    <div class="button-row">
      <button mat-button (click)="funcionlimpiar()">Limpiar</button>
          </div>
  </div>
</div>

<div>

</div>
