<h2 style="text-align: center"> Aplicacion</h2>
<div class="row">
  <div class="col-sm-6">
    <p>Peso en GB</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>

  <div class="col-sm-6">
    <p>Version</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>
  <div class="col-sm-6">
    <p>Nombre</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>
  <div class="col-sm-6">
    <p>URL de descarga</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>
  <div class="col-sm-6">
    <p>Fecha de lanzamiento</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>
  <div class="col-sm-6">
    <p>Costo</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>
  <div class="col-sm-6">
    <p>ID SistemaOperativo</p>
  </div>
  <div class="col-sm-6">
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>

</span>
  </div>

</div>


