<h3 id="labelListaSistemasOperativos"style="margin-top: 20px">Lista de Sistema Operativo</h3>
<div class="row"  style="margin-left: 20px">
    <div class="col-sm-2" *ngFor="let info of mensaje; let indice = index" style="margin-right: 20px; margin-top: 20px">
      <div class="card" style="width: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{info.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{info.versionApi}}</h6>
          <button type="button" class="btn btn-primary" (click)="mandarDatos(indice)">Tarjeta</button>
        </div>
      </div>
    </div>
</div>
