<h2 style="text-align: center"> Sistemas Operativos</h2>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
  <app-carousel-boot></app-carousel-boot>
  </div>
  <div class="col-sm-2">
  </div>
    <div class="col-sm-4">
<app-cabecera></app-cabecera>
  </div>
  <div class="col-sm-1">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-3">
<app-boton></app-boton>
  </div>
</div>
<br>
<br>
<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-4">
<app-detalle></app-detalle>
</div>
<div class="col-sm-2">
</div>
<div class="col-sm-4">
<app-card></app-card>
</div>
<div class="col-sm-1">
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
<app-tabla></app-tabla>
  </div>
  <div class="col-sm-1">
  </div>
</div>


