<div class="container" style="margin-top: 10px">

<div class="row">

  <div class="col-sm-6">
    <app-carrusel></app-carrusel>
  </div>
  <div class="col-sm-6">
    <app-cabecera></app-cabecera>

  </div>

</div>

<div class="row">

  <div class="col-sm-12">

    <app-lista></app-lista>

  </div>

</div>

<div class="row">

  <div class="col-sm-6">

    <app-detalle></app-detalle>

  </div>

  <div class="col-sm-6">

    <app-tarjeta></app-tarjeta>

  </div>

</div>

<div class="row">

  <div class="col-sm-12">

    <app-tabla-detalle></app-tabla-detalle>

  </div>

</div>

</div>
